.sidebar {
    background-color: #053d4e;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menuBars {
    margin-left: 1rem;
    background: none;
    color: #fff;
}

.navMenu {
    background-color: #053d4e;
    width: 163px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.active {
    background-color: #053d4e;
    width: 163px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 850ms;
}

.navText {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px8px 16px;
    list-style: none;
    height: 60px;
}

.navText a {
    text-decoration: none;
    color: #f5f5f5;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    opacity: 0.5;
    transition: 350ms;
}

.navText a:hover {
    transition: 350ms;
    opacity: 1;
}

.navMenuItems {
    width: 100%;
    padding-left: 0;
}

.navbarToogle {
    color: #fff;
    list-style: none;
    margin-left: 1rem;
}

.spanText {
    margin-left: 10px;
}